
# Created by https://www.toptal.com/developers/gitignore/api/html
# Edit at https://www.toptal.com/developers/gitignore?templates=html

#!! ERROR: html is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/html
n